/*----------------------------------------------------
   Reset
----------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
html {
    font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
    overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
    -webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
    box-sizing: border-box; /* Apply a natural box layout model to the document; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
}
*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}
body {
    background: white; /* Fallback for when there is no custom background color defined. */
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}
ol, ul, li{
    list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

a:focus {
    outline: thin dotted;
}
a:hover,
a:active {
    outline: 0;
}
a img {
    border: 0;
}
textarea {
  padding: 0;
}

/*----------------------------------------------------
   Typography
----------------------------------------------------*/

/*38E05D
colors:
base:       #00C12B
background: #65E080
hover:      #27D04C
*/

body,
button,
input,
select,
textarea,
.button {
  font-size: 1.1875em;
  line-height: 1.421052632em;
  color: #404040;
  font-family: Lato;
}

/*form, div {
  display: inline;
}*/

textarea,
p {
  font-family: Merriweather;
}

textarea {
  resize: none;
}

h1,h2,h3,h4,h5,h6 {
   font-family: Lato, sans-serif;
   font-weight: bold;
}

h1 {
  font-size: 2.842105263em;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  line-height: 1.421052632em;
  margin-top: 1.42105263em;
  margin-bottom: 0.71052632em;
}
h3 {
  font-size: 1.421052632em;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
h4 {
  font-size: 1em;
  line-height: 1.421052632em;
  margin-top: 1.42105263em;
  margin-bottom: 1.42105263em;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 1.42105263em;
  margin-bottom: 1.42105263em;
}

/* Sanitation */
hr {
  border: 1px solid;
  margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

p {
   margin-bottom: 1em;
   margin-top: 1em;
}

b, strong {
   font-weight: bold;
}

dfn, cite, em, i {
   font-style: italic;
}

blockquote {
   margin: 0 1.5em;
}

address {
   margin: 0 0 1.5em;
}

pre {
   background: #eee;
   font-family: "Courier 10 Pitch", Courier, monospace;
   font-size: 1.5em;
   line-height: 1.6;
   margin-bottom: 1.6em;
   max-width: 100%;
   overflow: auto;
   padding: 1.6em;
}

code, kbd, tt, var {
   font-size: 1.5em;
   font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr, acronym {
   border-bottom: 1px dotted #666;
   cursor: help;
}

mark, ins {
   background: #fff9c0;
   text-decoration: none;
}

sup,
sub {
   font-size: 75%;
   height: 0;
   line-height: 0;
   position: relative;
   vertical-align: baseline;
}

sup {
   bottom: 1ex;
}

sub {
   top: .5ex;
}

small {
   font-size: 75%;
}

big {
   font-size: 125%;
}

a,
a:visited {
    text-decoration: none;
    color: #4169E1;
}

a:hover {
    color: #62AAE0;
}

#head {
  font-size: 130%;
}

div *:first-child {
  margin-top: 0;
}

/*----------------------------------------------------
   Elements
----------------------------------------------------*/

body {
  background-color: #EEE;
}

table {
  width: 100%;  
}

table th,
table td {
  padding: 1em .5em;
}

table th {
  font-weight: bold;
}

table:not(.no-highlight) tbody tr:nth-of-type(even),
table:not(.no-highlight) thead tr{ 
  background: #f3f3f3; 
}

table tr[data-link]:hover{
  background: #eee;
  cursor: pointer;
}

ul li + li {
  padding: 0.5em 0;
  border-top: 1px solid #eee;
}

ul li {
  padding: 0.5em 0;
}

li > ul {
  margin-left: 1em;
  padding-left: .5em;
  border-left: 2px solid #65E080;

}

#wrapper {
  margin: auto;
  max-width: 1050px;
}

.block {
  display: block;
}

#main{
  width: calc(100% - 335px);
  min-height: 50vh;
  display: inline-block;
  background-color: white;
  margin: 1em;
  padding: 1.5em;
}

.button,
a.button {
  border-style: none;
  display: inline-block;
  border-radius: 5px;
  padding: .5em 1em;
  cursor: pointer;
  color: #404040;
}

.button:hover {
  color: #404040;
}

.button.general {
  background: #65E080;
}

.button.general:hover {
  background: #27D04C;
}

.button.secondary {
  background: #eee;
}

.button.secondary:hover {
  background: #ddd;
}

.button.danger {
  background: #FB4330;
}

.button.danger:hover {
  background: #DE1C08;
}

/*----------------------------------------------------
   Forms
----------------------------------------------------*/

label {
  display: block;
  margin: 0.5em 0;
  width: 100%;
}

label div {
  display: inline-block;
  width: 30%;
}

label input[type="checkbox"] + div {
  width: auto;
}

textarea:focus,
input:focus,
select:focus {
  outline:0;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
select,
textarea {
  width: 100%;
  border: 0;
}

input, select, textarea{
  margin: 0.5em 0;
}

label input[type="text"],
label input[type="email"],
label input[type="date"],
label input[type="password"],
label textarea {
  /*substract 4px for border*/
  width: calc(70% - 4px);
  margin: 0;
}

/*----------------------------------------------------
   Header
----------------------------------------------------*/

#head {
  height: 60px;
  width: 100%;
}

#head,
#head a {
  background-color: #65E080;
}

#head * {
  margin: 0;
  line-height: 60px;
  display: inline-block;
}

#head a {
  width: 100%;
  height: 100%;
  color: #404040;
}

#head a:hover{
  background-color: #27D04C;
}

#head a {
  padding: 0 16px;
}

#head li {
  padding: 0;
  border: 0;  
}

#title {
  float: left;
}

#title a {
  padding-right: 16px;
}

#login,
#profile {
  position: absolute;
  right: 0;
  top: 0;
}

#profile ul {
  display: block;
  height: 0;
  overflow: hidden;
}

#profile:hover ul,
#profile.hover ul {
  height: auto;
}

#profile li {
  display: block;
}

/*----------------------------------------------------
   Sidebar
----------------------------------------------------*/

#sidebar {
  float: right;
  width: 280px;
  background-color: white;
  padding: 1.5em;
  margin: 1em;
}

#sidebar input,
#sidebar textarea {
  width: 100%;
  border-style: none;
}


#sidebar textarea {
  height: 20em;
}

#advanced-button {
  float: right;
}

/*----------------------------------------------------
   new post
----------------------------------------------------*/
#input-title {
  /* used also in sidebar */
  border-bottom: .2em solid #ccc;
}

#date-div {
  height: 0;
  overflow: hidden;
  /*-webkit-transition: height 0.3s;
  transition: height 0.3s;*/
}

#date-div.show {
  height: auto;
}


#input-editor {
  min-height: 500px;
}

/*----------------------------------------------------
   Calender
----------------------------------------------------*/

#month_dates{
width:100%;
}


.space{
margin:0.5em;
padding:0.3em;
width:1.8em;
/*background-color:#38E05D;*/
}

.spaceh{
margin-left:0.5em;
padding:0.3em;
}

#dates{
/*border-spacing:1em; */
empty-cells:hide;
table-layout:fixed;
width:100%;
}

#dates tr th {
width:1.6em;
height:1.6em;
background-color:#65E080;
}


#dates tr td{
width:1.6em;
height:1.6em;

border-spacing:2em;
}

#dates caption button{
float:right;
margin-right:0.2em;
border-radius:30px;
background-color:black;
color:white;
}

#dates caption h1{
float:right;
padding-left:0.5em;
padding-right:0.7em;
}

#wochentage{
background-color:#38E05D;
}



/*----------------------------------------------------
   AllEvents
----------------------------------------------------*/


.singleEvent{
  height:5em;

}

.info{
  float:left;
  margin-right:1em;
}

.image{
  float:right;
}

.tableSingleEvent{
  padding:1em;
  border-style:solid;
  border-color:black;
  border-width:0.1em;
  margin-bottom:4em;
  margin-left:1em;
}

.tabelinfo{
  width:50%;
}

.allEvents{
width:100%;
}


/*----------------------------------------------------
   DaySight
----------------------------------------------------*/


.allEvents_day{
  width:100%;
}

.singleEvent_day{
  height:5em;

}

.info_day{
  float:left;
  margin-right:1em;
}

.image_day{
  float:right;
}

.tableSingleEvent_day{
  padding:1em;
  border-style:solid;
  border-color:black;
  border-width:0.1em;
  margin-bottom:4em;
  margin-left:1em;
}

.tabelinfo_day{
  width:50%;
}

.eventDayButtons{
  margin-left:1em;
  margin-bottom:1em;
}


/*----------------------------------------------------
   AllPosts
----------------------------------------------------*/

.allPosts{
  width:100%;
}


.info_post{
  float:left;
  margin-right:1em;
}

.image_post{
  float:right;
}

.tableSinglePost{
  padding:1em;
  border-style:solid;
  border-color:black;
  border-width:0.1em;
  margin-bottom:4em;
  margin-left:1em;
}

.tabelinfo_post{
  width:50%;
}



/*----------------------------------------------------
   Profile
----------------------------------------------------*/
.profile{
  width:100%;
}

.profile table tr td div{
  margin: 0.5em;
}

.term{
  font-weight:bold;
}


.profile table{
  margin-top:1em;
  margin-left:0.5em;
}

#edit_profile_button{
  margin-top:0.5em;
  margin-left:0.5em;
}

/*----------------------------------------------------
   EditProfile
----------------------------------------------------*/
.edit_profile{
  width:100%;
}

.edit_profile table tr td div{
  margin: 0.5em;
}


.term_edit{
  font-weight:bold;
}


.edit_profile table{
  margin-top:1em;
  margin-left:0.5em;
}

#save_button{
  margin-top:0.5em;
  margin-left:0.5em;
}

/*----------------------------------------------------s
   Event
----------------------------------------------------*/

#singleEvent_information{
  float:left;
}

#singleEvent_information table tr td{
  padding:0.5em;
}

#singleEvent_image{
  margin-left:7em;
}

.singleEvent_text_comment{
  display:block;
  width:60%;
  margin-left:0.5em;
  margin-top:2em;

}

#singleEvent{
  margin:0.2em;
}

#singleEvent h1{
  margin-bottom:0.5em;
}

#singleEvent table{
  width:60%;
}

#singleEvent_createComments{
  padding-bottom:4em;
}

#singleEvent_createComments form{
  width:100%;
}

#singleEvent_createComments form input{
  width:100%;
  margin:0.1em;
}

#singleEvent_createComments form textarea{
  width:100%;
  height:7em;
  margin:0.1em;
}

#singleEvent_createComments form button{
  float:right;
}

#singleEvent_comments li{
  margin-left:0.4em;
  border-left: 0.25em solid green;
  padding-left:3px;

}

#singleEvent_comments h5{
  margin-bottom:1em;
}

.singleEvent_commentAuthor{
  font-weight:bold;
}

.singleEvent_commentContent{
  padding-left:5px;
}



/*----------------------------------------------------s
   Post
----------------------------------------------------*/

.singlePost_information{
  margin-left:0.5em;
}





.singlePost_text_comment{
  display:block;
  width:60%;
  margin-left:0.5em;
  margin-top:2em;

}

#singlePost{
  margin:0.2em;
}



#singlePost_createComments{
  padding-bottom:4em;
}

#singlePost_createComments form{
  width:100%;
}

#singlePost_createComments form input{
  width:100%;
  margin:0.1em;
}

#singlePost_createComments form textarea{
  width:100%;
  height:7em;
  margin:0.1em;
}

#singlePost_createComments form button{
  float:right;
}

#singlePost_comments li{
  margin-left:0.4em;
  border-left: 0.25em solid green;
  padding-left:3px;

}

#singlePost_comments h5{
  margin-bottom:1em;
}

.singlePost_commentAuthor{
  font-weight:bold;
}

.singlePost_commentContent{
  padding-left:5px;
}




/*----------------------------------------------------
   Messages
----------------------------------------------------*/

#sended{
  border: 0.1em solid green;
  width:80%;
  margin-left:0.2em;
  height:150px;
  overflow:auto;
}

.messages button{
  vertical-align:bottom;

}

#sended ul li h5{
  margin-left:0.2em;
}
#sended ul li span{
  margin-left:0.6em;
}

#toSend{
  height:5em;
  margin-top:1em;
  width:60%;
  margin-left:0.2em;
}


/*----------------------------------------------------
   production
----------------------------------------------------*/
.production h1{
  background: #eee;
  position: absolute;
  height:5em;
  margin-top:5em;
  width: 600px;
  margin-left: 200px;
}


/*----------------------------------------------------
   AllMessages
----------------------------------------------------*/

#contacts{
  width:60%;
  margin-top:2em;
  border: 1px solid green;
  max-height:25em;
  overflow:auto;
}

.oneContact{
  border-bottom: 1px solid green;
  padding:0.5em;
}

.allMessages button{
  margin-top:1em;
}

#newMessageSign{
  vertical-align:bottom;
  border: 1px solid red;
  width:15px;
  height:15px;
  border-radius:20px;
  margin-left:3em;
}

.oneContact table{
  table-layout:fixed;
}

.oneContact table tr th{
  width:3em;
}



/*----------------------------------------------------
   reported
----------------------------------------------------*/

.reported table{
border: 1px solid green;
}

.reported table tr td{
padding:0.5em;
}


/*----------------------------------------------------
   Media queries
----------------------------------------------------*/

@media screen and (max-width: 767px) {
  body {
    background: white;
  }

  #main {
    width: 100%;
    margin: 0;
  }

  #menu-toggle {
    display: inline-block !important;
  }
  /* Collapse menu */
  #main-navigation ul {
    opacity: 0;
    pointer-events: none;
    position: relative;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
  }

  #main-navigation.show ul {
    opacity: 1;
    pointer-events: all;
  }

  #main-navigation,
  #main-navigation ul,
  #main-navigation li{
    width: 100%;
  }

  #sidebar {
    display: none;
  }

  /*Rearrange tables*/
  table:not(.no-collapse) {
    width: 100%;
  }

  table:not(.no-collapse) thead {
    display: none;
  }

  table:not(.no-collapse) tr {
    position: relative;
  }

  table:not(.no-collapse) td:not(:first-child) {
    border-top: 1px solid #ccc;
  }

  table:not(.no-collapse) td {
    box-sizing: border-box;
    word-wrap: break-word;
    width: 100%;
    display: block;
    min-height: 2.5em;
    padding-left: 50%;
    position: relative;
  }

  table:not(.no-collapse) td:empty {
    display: none;
  }

  table:not(.no-collapse) td:before {
    padding-left: .5em;
    content: attr(data-header);
    display: inline;
    position: absolute;
    left: 0;
    width: calc(50% - 1em);
    font-weight: bold;
  }
}
