/*----------------------------------------------------
   Reset
----------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
html {
    font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
    overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
    -webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
    box-sizing: border-box; /* Apply a natural box layout model to the document; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
}
*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}
body {
    background: white; /* Fallback for when there is no custom background color defined. */
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}
ol, ul, li{
    list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
a:focus {
    outline: thin dotted;
}
a:hover,
a:active {
    outline: 0;
}
a img {
    border: 0;
}

/*----------------------------------------------------
   Typography
----------------------------------------------------*/

/*38ZE050D
colors:
base:       #00C12B
background: #65E080
hover:      #27D04C
*/

body,
button,
input,
select,
textarea {
   color: #404040;
   font-family: Lato;
   font-size: 1.8em;
   line-height: 1.5;
}

textarea,
p {
  font-family: Merriweather;
}

textarea {
  resize: none;
}

button {
  border-style: none;
  background: #65E080;
  border-radius: 5px;
}

button:hover{
  background: #27D04C;
}

h1,h2,h3,h4,h5,h6 {
   font-family: Lato;
   font-weight: bold;
}

header {
    font-family: Lato;
}

h1 {
   font-size: 2.8em;
}
h2 {
   font-size: 2.4em;
}
h3 {
   font-size: 2em;
}

h4 {
   font-size: 1.6em;
}
h5 {
   font-size: 1.2em;
}
h6 {
   font-size: 1em;
}

p {
   margin-bottom: 1em;
}

b, strong {
   font-weight: bold;
}

dfn, cite, em, i {
   font-style: italic;
}

blockquote {
   margin: 0 1.5em;
}

address {
   margin: 0 0 1.5em;
}

pre {
   background: #eee;
   font-family: "Courier 10 Pitch", Courier, monospace;
   font-size: 1.5em;
   line-height: 1.6;
   margin-bottom: 1.6em;
   max-width: 100%;
   overflow: auto;
   padding: 1.6em;
}

code, kbd, tt, var {
   font-size: 1.5em;
   font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr, acronym {
   border-bottom: 1px dotted #666;
   cursor: help;
}

mark, ins {
   background: #fff9c0;
   text-decoration: none;
}

sup,
sub {
   font-size: 75%;
   height: 0;
   line-height: 0;
   position: relative;
   vertical-align: baseline;
}

sup {
   bottom: 1ex;
}

sub {
   top: .5ex;
}

small {
   font-size: 75%;
}

big {
   font-size: 125%;
}

a,
a:hover,
a:active,
a:visited {
  color: #404040;
}

/*----------------------------------------------------
   Elements
----------------------------------------------------*/

#wrapper {
  
}

.block {
  display: block;
}

/*----------------------------------------------------
   Header
----------------------------------------------------*/

#head {
  background-color: #65E080;
  height: 3.5em;
}

#title {
  display: inline;
  float: left;
  line-height: 1;
  padding: 0.1em;
  padding-right: 0.2em;
}

#nav {
  
}

#head li {
  background-color: #65E080;
  padding-top: 1em;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 1em;
  float: left;
}

#head li:hover{
  background-color: #27D04C;
}

#login {
  padding-top: 1em;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 1em;
  float: right;
}

#login:hover{
  background: #27D04C;
}

/*----------------------------------------------------
   Sidebar
----------------------------------------------------*/

#sidebar {
  float: right;
  width:240px;/*150px*/
  font-size: 0.7em;
}

#sidebar button {
  margin-top: 2px;
}

#sidebar input, 
#sidebar textarea {
  width: 230px;
  margin-bottom: 4px;
}

#sidebar form {
  width: 230px;
}

#sidebar textarea {
  height: 250px;
}

#submit {
  float: right;
  margin-right: 10px;
}

#post-form {
  margin-left: 5em;
}

#post-form .block {
  margin-top: 0.3em;
}

#post-form input, textarea{
  width: 60%;
  border: solid;
  border-width: 1px;
  border-color: #DDD;
  padding: 0;
}

#post-form #input-event {
  width: auto;
}

#sweg {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s; /* For Safari 3.1 to 6.0 */
  transition: height 0.3s;
}

#sweg.show {
  height: 2.7em;
  margin-top: 0.3em;
}

#input-date {
  height: 1.5em;
  border: solid;
  border-width: 1px;
  border-color: #DDD;
}



/*----------------------------------------------------
   Content
----------------------------------------------------*/

/*----------------------------------------------------
   Media queries
----------------------------------------------------*/

@media screen and (max-width: 767px) {
  #main {
    width: 100%;
  }
  #sidebar {
    display: none;
  }
}