/*----------------------------------------------------
   Reset
----------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
html {
    font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
    overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
    -webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
    box-sizing: border-box; /* Apply a natural box layout model to the document; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
}
*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}
body {
    background: white; /* Fallback for when there is no custom background color defined. */
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}
ol, ul, li{
    list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

a{
  text-decoration: none;
}

a:focus {
    outline: thin dotted;
}
a:hover,
a:active {
    outline: 0;
}
a img {
    border: 0;
}

/*----------------------------------------------------
   Typography
----------------------------------------------------*/

/*38E05D
colors:
base:       #00C12B
background: #65E080
hover:      #27D04C
*/

body,
button,
input,
select,
textarea {
   color: #404040;
   font-family: Lato;
   font-size: 1.8em;
   line-height: 1.5;

}

/*form, div {
  display: inline;
}*/


textarea,
p {
  font-family: Merriweather;
}

textarea {
  resize: none;
}

h1,h2,h3,h4,h5,h6 {
   font-family: Lato, sans-serif;
   font-weight: bold;
}

header {
    font-family: Lato;
}

h1 {
   font-size: 2.8em;
}
h2 {
   font-size: 2.4em;
}
h3 {
   font-size: 2em;
}

h4 {
   font-size: 1.6em;
}
h5 {
   font-size: 1.2em;
}
h6 {
   font-size: 1em;
}

p {
   margin-bottom: 1em;
}

b, strong {
   font-weight: bold;
}

dfn, cite, em, i {
   font-style: italic;
}

blockquote {
   margin: 0 1.5em;
}

address {
   margin: 0 0 1.5em;
}

pre {
   background: #eee;
   font-family: "Courier 10 Pitch", Courier, monospace;
   font-size: 1.5em;
   line-height: 1.6;
   margin-bottom: 1.6em;
   max-width: 100%;
   overflow: auto;
   padding: 1.6em;
}

code, kbd, tt, var {
   font-size: 1.5em;
   font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr, acronym {
   border-bottom: 1px dotted #666;
   cursor: help;
}

mark, ins {
   background: #fff9c0;
   text-decoration: none;
}

sup,
sub {
   font-size: 75%;
   height: 0;
   line-height: 0;
   position: relative;
   vertical-align: baseline;
}

sup {
   bottom: 1ex;
}

sub {
   top: .5ex;
}

small {
   font-size: 75%;
}

big {
   font-size: 125%;
}

a,
a:hover,
a:active,
a:visited {
  color: #404040;
}



/*----------------------------------------------------
   Elements
----------------------------------------------------*/

body {
  background-color: #EEE;
}

#wrapper {
  margin:auto;
  max-width: 1250px;
}

.block {
  display: block;
}

#main{
  width: calc(100% - 370px);
  font-size: 0.7em;
  float: left;
  display: inline;
  background-color: white;
  margin: 1em;
  padding: 0.8em;
}


.general {
  border-style: none;
  background: #65E080;
  border-radius: 5px;
  display: inline;
  font-size: 1.2em;
}

.general:hover {
  background: #27D04C;
}

#input-title {
  border-style: solid;
  border-bottom: 2px;
  border-color: #CCC;
}

/*----------------------------------------------------
   Header
----------------------------------------------------*/

#head {
  background-color: #65E080;
  height: 3.5em;
}

#title {
  display: inline;
  float: left;
  line-height: 1;
  padding: 0.1em;
  padding-right: 0.2em;
}

#head li {
  background-color: #65E080;
  padding-top: 1em;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 1em;
  float: left;
}

#head li:hover{
  background-color: #27D04C;
}

#login {
  padding-top: 1em;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 1em;
  float: right;
}

#login:hover{
  background: #27D04C;
}

/*----------------------------------------------------
   Sidebar
----------------------------------------------------*/

#sidebar {
  float: right;
  width: 280px;/*280px*/
  font-size: 0.7em;
  background-color: white;
  padding: 1em;
  margin: 1em;
}

#sidebar button {
  margin-top: 2px;
}

#sidebar input, 
#sidebar textarea {
  width: 250px;
  margin-bottom: 4px;
  border-width: 1px;
  border-style: none;
}

#sidebar #input-title {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #CCC
}

#sidebar form {
  /*width: 230px;*/
}

#sidebar textarea {
  height: 250px;
}

#submit {
  float: right;
  margin-right: 10px;
}

/*----------------------------------------------------
   new post
----------------------------------------------------*/

#post-form input,
#post-form input-editor{
  width:100%;
  border: none;
  margin-top: 0.3em;
  display: block;
}

#post-form label{
  width: auto;
}

#post-form #input-title {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #CCC
}

#post-form #input-event {
  width: auto;
}

#date-div {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s; /* For Safari 3.1 to 6.0 */
  transition: height 0.3s;
}

#date-div.show {
  height: 2.7em;
  margin-top: 0.3em;
}

#input-date {
  height: 1.5em;
  border: none;
}

#input-editor {
  height: 500px;
  font-size: 1.8em;
  background-color: white;
}

/*----------------------------------------------------
   Login
----------------------------------------------------*/

#login-container {
  margin: 3em 4em;
  display: block;
  width: 250px;
  /*float: left;*/
}

#login-container h2 {
  font-size: 1.8em;
}

#login-container .general {
  font-size: 1.2em;
  margin-top: 4px;
}

#register {
  float: right;
  padding: 1px 6px;
}

#login-form {
  display: inline;
}

#login-form input {
  margin-top: 4px;
  font-size: 1.2em;
  height: 2em;
  width: 250px;
  border: none;
  display: block;
}

/*----------------------------------------------------
   Register
----------------------------------------------------*/

#registration-container {
  margin-top: 4em;
  margin-left: 3em;
}
 
      
#registration {
  margin-left: 4px;
}

#registration-container input{
  display: block;
  margin: 4px;
  font-size: 1.2em;
  height: 2em;
  width: 250px;
} 

/*----------------------------------------------------
   Content
----------------------------------------------------*/

/*----------------------------------------------------
   Media queries
----------------------------------------------------*/

@media screen and (max-width: 767px) {
  #main {
    width: 100%;
  }
  #sidebar {
    display: none;
  }
}



/*----------------------------------------------------
   Calender
----------------------------------------------------*/

#month_dates{
font-size:1em;
width:100%;
}


.space{
margin:0.5em;
padding:0.3em;
width:1.8em;
/*background-color:#38E05D;*/
}

.spaceh{
margin-left:0.5em;
padding:0.3em;
}

#dates{
/*border-spacing:1em; */
empty-cells:hide;
table-layout:fixed;
width:100%;
}

#dates tr th {
font-size:2.5em;
width:1.6em;
height:1.6em;
background-color:#65E080;
}


#dates tr td{
font-size:2.5em;
width:1.6em;
height:1.6em;

border-spacing:2em; 
}

#dates caption button{
float:right;
font-size:2em;
margin-right:0.2em;
border-radius:30px;
background-color:black;
color:white;
}

#dates caption h1{
float:right;
font-size:2.3em;
padding-left:0.5em;
padding-right:0.7em;
}

#wochentage{
background-color:#38E05D;
}



/*----------------------------------------------------
   AllEvents
----------------------------------------------------*/


.singleEvent{
  height:5em;

}

.info{
  float:left;
  margin-right:1em;
}

.image{
  float:right;
}

.tableSingleEvent{
  padding:1em;
  border-style:solid;
  border-color:black;
  border-width:0.1em;
  margin-bottom:4em;
  margin-left:1em;
}

.tabelinfo{
  width:50%;
}

.allEvents{
width:100%;
}


/*----------------------------------------------------
   DaySight
----------------------------------------------------*/


.allEvents_day{
  width:100%;
}

.singleEvent_day{
  height:5em;

}

.info_day{
  float:left;
  margin-right:1em;
}

.image_day{
  float:right;
}

.tableSingleEvent_day{
  padding:1em;
  border-style:solid;
  border-color:black;
  border-width:0.1em;
  margin-bottom:4em;
  margin-left:1em;
}

.tabelinfo_day{
  width:50%;
}

.eventDayButtons{
  margin-left:1em;
  margin-bottom:1em;
}


/*----------------------------------------------------
   AllPosts
----------------------------------------------------*/

.allPosts{
  width:100%;
}


.info_post{
  float:left;
  margin-right:1em;
}

.image_post{
  float:right;
}

.tableSinglePost{
  padding:1em;
  border-style:solid;
  border-color:black;
  border-width:0.1em;
  margin-bottom:4em;
  margin-left:1em;
}

.tabelinfo_post{
  width:50%;
}



/*----------------------------------------------------
   Profile
----------------------------------------------------*/



.profile{
  width:100%;
}

.profile table tr td div{
  margin: 0.5em;
}

.term{
  font-weight:bold;
}


.profile table{
  margin-top:1em;
  margin-left:0.5em;
}

#edit_profile_button{
  margin-top:0.5em;
  margin-left:0.5em;
}




/*----------------------------------------------------
   EditProfile
----------------------------------------------------*/



.edit_profile{
  width:100%;
}

.edit_profile table tr td div{
  margin: 0.5em;
}


.term_edit{
  font-weight:bold;
}


.edit_profile table{
  margin-top:1em;
  margin-left:0.5em;
}

#save_button{
  margin-top:0.5em;
  margin-left:0.5em;
}
