<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Lite Post</title>
   <link href='http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic|Lato:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
   #foreach($style in $Resources.getStyles())
      <link rel="stylesheet" type="text/css" href="$style">
   #end
   #foreach($script in $Resources.getScriptsHeader())
      <script type="text/javascript" src="$script"></script>
   #end
   <script type="text/javascript">
      var menu;
      function toggle_menu() {
        if(menu===undefined) {
          menu = document.getElementById('main-navigation')
        }
        if(menu.className==='show') {
          menu.className = '';
        }else {
          menu.className = 'show';  
        }
      }
   </script>
</head>
<body>
   <header id="head">
    <h1 id="title"><a href="/">Lite Post</a></h1>
    <div id="menu-toggle" style="display: none;"><a href="javascript:toggle_menu()">Menü</a></div>
    <nav id="main-navigation">
     <ul>
      <li><a href="#">About</a></li>
      <li><a href="${Router.linkTo("allPosts")}">Posts</a></li>
      <li><a href="${Router.linkTo("overview")}">Events</a></li>
   </ul>
</nav>

  <div id="login">
    <a href="${Router.linkTo("loginPage")}">
      Login
    </a>
  </div>
</header>