#parse("header.vm")
<div id="wrapper">
  <div id="main">
    <div id="registration-container">
      <form id=""
      <button class="general" id="register">Registrieren</button>
    </div>
  </div>
  #parse("sidebar.vm")
</div>
#parse("footer.vm")
