<div id="sidebar">
    <h2>Neuer Post</h2>
    <form method="POST" action="${Router.linkTo("newPost")}">
      <input id="input-title" type="text" name="title" placeholder="Titel" />
      <textarea id="input-content" type="text" name="content" placeholder="Inhalt" ></textarea>
      <input id="input-contact" type="text" name="contact" placeholder="Kontakt" />
    </form>
    <button class="button general">Posten</button>
    <a href="${Router.linkTo("newPost")}" id="advanced-button">
      <button class="button secondary">Erweitert</button>
    </a>
</div>