<div id="sidebar">
    <h2>Neuer Post</h2>
    $Form.begin("POST", ${Router.linkTo("newPost")}).id("sidebar-form")
      $Input.text.id("input-title").name("title").placeholder("Titel").prepopulate()
      $Input.textarea.id("input-content").name("content").placeholder("Inhalt").prepopulate()
      $Input.text.id("input-contact").name("contact").placeholder("Kontakt").prepopulate()
      $Input.csrfToken
    $Form.end()
    $Input.submit.general.value("Posten").attr("form", "sidebar-form")
    <a href="${Router.linkTo("newPost")}" id="advanced-button" class="button secondary">Erweitert</a>
</div>