<div id="sidebar">
    <h2>Neuer Post</h2>
    <form>
      <input id="input-title" type="text" name="title" placeholder="Titel" />
      <textarea id="input-content" type="text" name="content" placeholder="Inhalt" ></textarea>
      <input id="input-contact" type="text" name="contact" placeholder="Kontakt" />
    </form>
    <a href="newpost.vm">
      <button class="general">Erweitert</button>
    </a>
    <button class="general" id="submit">Posten</button>
  </div>