$Resources.addStyle("css/pikaday.css")
$Resources.addStyle("css/medium-editor.css")
$Resources.addStyle("css/themes/bootstrap.css")
$Resources.addScriptFooter("js/pikaday.js")
$Resources.addScriptFooter("js/medium-editor.min.js")
$Resources.addScriptFooter("js/newpost.js")

#parse("header.vm")

<div id="wrapper">
  <div id="main">
    #if($error)
      <p>Bitte füllen sie alle benötigten Felder aus</p>
    #end
    <form id="post-form" method="POST" action="${Router.linkTo("insertPost")}" enctype="multipart/form-data">
      
        <input id="input-title" type="text" name="title" placeholder="Titel" value="$title">

      
        <input type="hidden" id="input-content" name="content">
        <div onblur="serialize_text()" id="input-editor" type="text" name="content" rows="10" placeholder="Inhalt">$content</div>

      
        <input id="input-contact" type="text" name="contact" placeholder="Kontakt" value="$contact">

      
        <input id="input-event" type="checkbox" name="is-event" onclick="toggle_event(this)">
          <label for="input-event">Dieser Post ist ein Event</label>
      
     
        <input id="input-date" type="text" name="date" placeholder="Datum">
      
      
        <input id="input-image" type="file" name="image" accept="image/*">
      
      
        <button type="submit" class="general" id="post-submit">Post</button>
      
      $Resources.csrfToken()
    </form>
  </div>
</div>

#parse("footer.vm")
</body>
</html>