#parse("header.vm")

<div id="wrapper">
  <div id="main">
    <form id="post-form" method="POST" action="${Router.linkTo("insertPost")}">
      <div class="block">
        <input id="input-title" type="text" name="title" placeholder="Titel">
      </div>
      <div class="block">
        <input type="hidden" id="input-content" name="content">
        <div onblur="serialize_text()" id="input-editor" type="text" name="content" rows="10" placeholder="Inhalt" ></div>
      </div>
      <div class="block">
        <input id="input-contact" type="text" name="contact" placeholder="Kontakt">
      </div>
      <div class="block">
        <input id="input-event" type="checkbox" name="is-event" onclick="toggle_event(this)">
          <label for="input-event">Dieser Post ist ein Event</label>
      </div>
      <div id="date-div" class="block">
        <input id="input-date" type="text" name="date" placeholder="Datum">
      </div>
      <div class="block">
        <button type="submit" class="general" id="post-submit">Post</button>
      </div>

    </form>


  </div>
</div>

<script type="text/javascript" src="/public/js/pikaday.js"></script>

<script src="/public/js/medium-editor.min.js"></script>

<script>
var picker = new Pikaday({
  field: document.getElementById("input-date")
});
function toggle_event(checkbox) {
  var input = document.getElementById("date-div");
  if(checkbox.checked) {
    input.className = "show"
  }else {
    input.className = ""
  }
}
</script>
<script>
  function serialize_text() {
  var content = document.getElementById("input-content");
  content.value = editor.serialize()["input-editor"].value;
}
var editor = new MediumEditor('#input-editor', {
   placeholder: 'Inhalt',
   buttons: ['bold', 'italic', 'underline', 'anchor', 'header2']
});
</script>

#parse("footer.vm")
</body>
</html>