$Resources.addStyle("css/pikaday.css")
$Resources.addStyle("css/medium-editor.css")
$Resources.addStyle("css/themes/bootstrap.css")
$Resources.addScriptFooter("js/medium-editor.min.js")
$Resources.addScriptFooter("js/medium-editor-mobile-plugin.min.js")
$Resources.addScriptFooter("js/moment-with-locales.min.js")
$Resources.addScriptFooter("js/pikaday.js")
$Resources.addScriptFooter("js/newpost.js")

#parse("header.vm")

<div id="wrapper">
  <div id="main">
    #if($Input.error("validCsrfToken"))
      <p>Ein Fehler ist aufgetreten</p>
    #end
    #if($Input.error("hasTitle"))
      <p>Der post benötigt einen Titel</p>
    #end
    #if($Input.error("hasContent"))
      <p>Der post benötigt einen Inhalt</p>
    #end
    #if($Input.error("hasContact"))
      <p>Der post benötigt einen Kontakt</p>
    #end
    #if($Input.error("validDateIfEvent"))
      <p>Das event datum ist ungültig</p>
    #end
    #if($Input.error("dateIsInFuture"))
      <p>Error in validation: "dateIsInFuture"</p>
    #end

    $Form.begin("POST", ${Router.linkTo("insertPost")}).attr("enctype", "multipart/form-data")
      $Input.text.name("title").placeholder("Titel").prepopulate()
      $Input.hidden.name("content").id("input-content").prepopulate()
      $Input.hidden.name("date").prepopulate()
      #set($content = $Input.value("content"))
      #if(not $content or $content.isEmpty())
        #set($content = "")
      #end
      <div onblur="serialize_text()" id="input-editor" type="text" name="content" rows="10" placeholder="Inhalt">$content</div>
      $Input.text.name("contact").placeholder("Kontakt").prepopulate()
      <label>
        $Input.checkbox.name("is-event").attr("onclick", "toggle_event(this)").prepopulate()
        <div>Dieser Post ist ein Event</div>
      </label>
      <div id="date-div">
        $Input.hidden.name("date").id("pikaday-field").prepopulate()
        $Input.text.id("pikaday").placeholder("Datum").style("width: auto")
        $Input.select.id("pikatime").addTimes().style("width: auto")
      </div>
      <div id="images">
        <div>Bilder anfügen</div>
      </div>
      <div><button onclick="add_image(); return false;" class="button secondary">+</button></div>
      $Input.csrfToken
      $Input.submit.general.value("Posten")        
    $Form.end()
  </div>
</div>
#parse("footer.vm")
