#macro(comments $comments)
  <ul> 
    #foreach($comment in $comments)
      <li>
        <p>$comment.text</p>
        <a href="javascript:answerComment($comment.getCommentId())">Antworten</a>
        #set($subComments = $comment.subComments)
        #comments($subComments)
      </li>
    #end
  </ul>  
#end

#parse("header.vm")
<div id="wrapper">
  	<div id="main"> 
      <h2>$post.title</h2>
      <p>$post.text</p>
      <ul>
        #foreach($image in $post.images)
          <li><img width="30%" src="$image.source"></li>
        #end
      </ul>
      <small>$post.contact</small>
      $Form.begin("POST", ${Router.linkTo("commentPost", $post.postId)})
        <h3>Kommentare</h3>
        #if($Validator.error("hasContent")) 
          <p>Bitte geben sie einen Kommentar ein</p>  
        #end
        #if($Validator.error("validCsrfToken")) 
          <p>validCsrfToken</p>  
        #end
        #if($Validator.error("postIdNumeric")) 
          <p>postIdNumeric</p>  
        #end
        #if($Validator.error("parentIdNumericOrEmpty")) 
          <p>parentIdNumericOrEmpty</p>  
        #end
        $Input.hidden.name("parent_id").value("0").id("parentId")
        $Input.textarea.name("content").prepopulate()
        $Input.csrfToken
        $Input.submit.general.value("Kommentieren")
      $Form.end()
      #comments($post.comments)
    </div>
  </div>
  #parse("sidebar.vm")
</div>

<script type="text/javascript">

function answerComment(comment_id) {
  var parentId = document.getElementById("parentId");
  parentId.value = comment_id;
}

</script>

#parse("footer.vm")