#parse("header.vm")
<div id="wrapper">
  <div id="main">
    <h1>Das System ist noch nicht eingerichtet</h1>
    <a href="$Router.linkTo("setupPage")">Hier geht es zur Einrichtung</a>
  </div>
</div>
#parse("footer.vm")
