#parse("header.vm")
<div id="wrapper">
  <div id="main">
    #if($Validation)
      #if($Input.error("validCsrfToken"))
        <p>CsrfToken not valid</p>
      #end
      #if($Input.error("validServerPort"))
        <p>ServerPort not valid</p>
      #end
      #if($Input.error("validMailSystemaddress"))
        <p>MailSystemaddress not valid</p>
      #end
      #if($Input.error("hasPublicFolder"))
        <p>has no PublicFolder</p>
      #end
      #if($Input.error("hasUploadFolder"))
        <p>has no UploadFolder</p>
      #end
      #if($Input.error("SSLNeedsUsernameAndPassword"))
        <p>SSL Needs Username And Password</p>
      #end
      #if($Input.error("hasMailHost"))
        <p>has no MailHost</p>
      #end
      #if($Input.error("hasMailPort"))
        <p>has no MailPort</p>
      #end
    #end
    $Form.begin("POST", ${Router.linkTo("setupPost")})
      <h2>Einrichtung</h2>
      $Input.text.name("mailhost").placeholder("Email Servername").prepopulate()
      $Input.text.name("mailport").placeholder("Email Port").prepopulate()
      $Input.text.name("mailusername").placeholder("Email Nutzername").prepopulate()
      $Input.text.name("mailpassword").placeholder("Email Password")
      $Input.checkbox.name("usessl").placeholder("SSL verwenden")prepopulate()
      $Input.text.name("systemmail").placeholder("System Email Addresse").prepopulate()
      $Input.csrfToken
      $Input.submit.general.value("Weiter")
    $Form.end()
  </div>
  #parse("sidebar.vm")
</div>
#parse("footer.vm")
