#parse("header.vm")
<div id="wrapper">
  <div id="main">
    #if($Input.error("validCsrfToken"))
      <p>Ein Fehler ist aufgetreten</p>
    #end
    #if($Input.error("validServerPort"))
      <p>Ungültiger Serverport</p>
    #end
    #if($Input.error("validMailSystemaddress"))
      <p>Email Addresse ungültig</p>
    #end
    #if($Input.error("hasPublicFolder"))
      <p>kein Public Ordner</p>
    #end
    #if($Input.error("hasUploadFolder"))
      <p>kein Upload Ordner</p>
    #end
    #if($Input.error("SSLNeedsUsernameAndPassword"))
      <p>SSL benötigt einen benutzernamen und ein Passwort</p>
    #end
    #if($Input.error("hasMailHost"))
      <p>kein EMail Host</p>
    #end
    #if($Input.error("hasMailPort"))
      <p>kein EMail Port</p>
    #end
    $Form.begin("POST", $Router.linkTo("setupPost"))
      <h2>Einrichtung</h2>
      $Input.text.name("serverhost").placeholder("Host").prepopulate()
      $Input.text.name("serverport").placeholder("Port").prepopulate()
      $Input.text.name("uploadfolder").placeholder("Ordner für hochgeladene Dateien").prepopulate()
      <h2>Email Einstellungen</h2>
      $Input.text.name("mailhost").placeholder("Mail Host").prepopulate()
      $Input.text.name("mailport").placeholder("Mail Port").prepopulate()
      $Input.text.name("mailusername").placeholder("Mail Benutzername").prepopulate()
      $Input.password.name("mailpassword").placeholder("Mail Passwort").prepopulate()
      <label>
        $Input.checkbox.name("usessl").prepopulate()
        <div>SSL verwenden</div>
      </label>
      $Input.text.name("systemmail").placeholder("Email addresse für Systemnachrichten").prepopulate()
      $Input.csrfToken
      $Input.submit.general.value("Weiter")
    $Form.end()
  </div>
  #parse("sidebar.vm")
</div>
#parse("footer.vm")
