#parse("header.vm")
<div id="wrapper">
  <div id="main">
    <div id="login-container">
      #if($Input.error("csrfTokenValid"))
        <p>Ein Fehler ist aufgetreten</p>
      #end
      #if($Input.error("hasUsername"))
        <p>kein Benutzernamr</p>
      #end
      #if($Input.error("hasPassword"))
        <p>kein Passwort</p>
      #end
      #if($Input.error("emailVerified"))
        <p>die EMail adresse wurde noch nicht verifiziert</p>
      #end
      #if($Input.error("loginSuccessful"))
        <p>Login fehlgeschlagen</p>
      #end
      #set($link = $Router.linkTo("loginPost"))
      #if($redirect)
        #set($link = $Router.linkTo("loginPostRedirect", $redirect))
      #end
      $Form.begin("POST", $link)
        <h2>Login</h2>
        $Input.text.name("username").placeholder("Nutzername").prepopulate()
        $Input.password.name("password").placeholder("Passwort")
        <label>
          $Input.checkbox.name("remember").prepopulate()
          <div>An mich Erinnern</div>
        </label>
        $Input.csrfToken
        $Input.submit.value("Login").general
        <a href="${Router.linkTo("registrationPage")}" class="button secondary">Registrieren</a>
        <a href="${Router.linkTo("lostPasswordPage")}" class="button secondary">Passwort vergessen?</a>
      $Form.end()
    </div>
  </div>
  #parse("sidebar.vm")
</div>
#parse("footer.vm")
