#parse("header.vm")
<div id="wrapper">
  <div id="main">
    <div id="login-container">
      #if($Validation)
        #if(not $Validation.valid("csrfTokenValid"))
          <p>csrfToken not Valid</p>
        #end
        #if(not $Validation.valid("hasUsername"))
          <p>has no Username</p>
        #end
        #if(not $Validation.valid("hasPassword"))
          <p>has no Password</p>
        #end
        #if(not $Validation.valid("emailVerified"))
          <p>email not Verified</p>
        #end
        #if(not $Validation.valid("loginSuccessful"))
          <p>login unsuccessful</p>
        #end
      #end
      $Form.begin("POST", ${Router.linkTo("loginPost")}).id("login-form")
        <h2>Login</h2>
        $Form.input("text").id("login-username").name("username").placeholder("Nutzername").prepopulate()
        $Form.input("password").id("login-password").name("password").placeholder("Passwort")
        $Form.input("checkbox").id("login-remember").name("remember").prepopulate()
        $Form.csrfToken()
        <button type="submit" class="general">Login</button>
        <a href="${Router.linkTo("registrationPage")}">Registrieren</a>
        <a href="${Router.linkTo("lostPasswordPage")}">Passwort vergessen?</a>
      $Form.end()
      <!-- form method="POST" action="${Router.linkTo("loginPost")}" id="login-form">
        <h2>Login</h2>
        <input id="login-username" type="text" $!Validation.prepopulateText("username") name="username" placeholder="Nutzername">
        <input id="login-password" type="password" name="password" placeholder="Passwort">
        <input id="login-remember" type="checkbox" name="remember" $Validation.prepopulateCheckbox("remember")>
        $Resources.csrfToken()
   	  <button type="submit" class="general">Login</button>
      <a href="${Router.linkTo("registrationPage")}">Registrieren</a>
      <a href="${Router.linkTo("lostPasswordPage")}">Passwort vergessen?</a>
      </form -->
    </div>
  </div>
  #parse("sidebar.vm")
</div>
#parse("footer.vm")
