#parse("header.vm")
<div id="wrapper">
  <div id="main">
    <div id="reset-container">
      <form method="POST" action="${Router.linkTo("lostPasswordPost")}" id="reset-form">
        <h2>Passwort zurücksetzen</h2>
        <input id="email" type="email" name="email" placeholder="Email">
        $Resources.csrfToken()
        <button type="submit" class="general">Zurücksetzen</button>
      </form>
    </div>
  </div>
  #parse("sidebar.vm")
</div>
#parse("footer.vm")
