#parse("header.vm")
<div id="wrapper">
  <div id="main">
    <div id="reset-container">
    $Form.begin("POST", ${Router.linkTo("lostPasswordPost")})
      <h2>Password zurücksetzen</h2>
      <label>
        <div>Benuzername</div>
        $Input.text.name("username").prepopulate()
      </label>
      <label>
        <div>Email Addresse</div>
        $Input.email.name("email").prepopulate()
      </label>
      $Input.csrfToken
      $Input.submit.general.value("Zurücuksetzen")
    $Form.end()
    </div>
  </div>
  #parse("sidebar.vm")
</div>
#parse("footer.vm")
