#parse("header.vm")
<div id="wrapper">
  <div id="main">
    <div id="received">
      <h2>Empfangene Nachrichten</h2>
      <table>
        <thead>
          <tr><th>Von</th><th>Betreff</th><th>Inhalt</th></tr>
        </thead>
        <tbody>
          #foreach($message in $receivedMessages)
            <tr>
              <td>$message.sender.username</td>
              <td>$message.subject</td>
              <td>$message.text</td>
            </tr>
          #end
        </tbody>
      </table>
    </div>
    <div id="sent">
      <h2>Gesendete Nachrichten</h2>
      <table>
        <thead>
          <tr><th>An</th><th>Betreff</th><th>Inhalt</th></tr>
        </thead>
        <tbody>
          #foreach($message in $sentMessages)
            <tr>
              <td>$message.receiver.username</td>
              <td>$message.subject</td>
              <td>$message.text</td>
            </tr>
          #end
        </tbody>
      </table>
    </div>
  </div>
  #parse("sidebar.vm")
</div>
#parse("footer.vm")
