#parse("header.vm")
<div id="wrapper">
  <div id="main">
    <h1>Wilkommen $currentUser.username</h1>
    <a href="$Router.linkTo("deleteUser", $currentUser.userId)" class="button danger">Profil Löschen</a>
    <h2>Aktionen</h2>
    <ul>
      <li><a href="$Router.linkTo("myPosts")">meine Posts</a></li>
      <li><a href="$Router.linkTo("myComments")">meine Kommentare</a></li>
      <li><a href="$Router.linkTo("messagesPage")">meine Nachrichten</a></li>
    </ul>
    #if($currentUser.admin)
      <h2>Admin bereich</h2>
      <ul>
        <li><a href="$Router.linkTo("adminPosts")">Post übersicht</a></li>
        <li><a href="$Router.linkTo("adminComments")">Kommentar übersicht</a></li>
        <li><a href="$Router.linkTo("adminUsers")">User übersicht</a></li>
      </ul>
    #end
  </div>
  #parse("sidebar.vm")
</div>
#parse("footer.vm")
