#parse("header.vm")
<div id="wrapper">
  <div id="main">
    #if($Input.error("validCsrfToken"))
     <p>Ein Fehler ist aufgetreten</p>
    #end
    #if($Input.error("hasUsername"))
     <p>kein Benutzername</p>
    #end
    #if($Input.error("hasFirstname"))
     <p>kein Vorname</p>
    #end
    #if($Input.error("hasLastname"))
     <p>kein Nachname</p>
    #end
    #if($Input.error("validEmail"))
     <p>EMail addresse ungültig</p>
    #end
    #if($Input.error("passwordMinLength"))
     <p>Passwort zu kurz</p>
    #end
    #if($Input.error("passwordsMatch"))
     <p>Passwörter stimmen nicht überein</p>
    #end
    #if($Input.error("usernameAvailable"))
     <p>Benutzername ist schon vergeben</p>
    #end
    #if($Input.error("emailAvailable"))
     <p>EMail addresse ist schon vergeben</p>
    #end
    $Form.begin("POST", ${Router.linkTo("registrationPost")})
      <h2>Registrieren</h2>
      $Input.text.name("username").placeholder("Benutzername").prepopulate()
      $Input.password.name("password").placeholder("Passwort")
      $Input.password.name("pwconfirm").placeholder("Passwort bestätigen")
      $Input.text.name("firstname").placeholder("Vorname").prepopulate()
      $Input.text.name("lastname").placeholder("Nachname").prepopulate()
      $Input.text.name("email").placeholder("Email Addresse").prepopulate()
      $Input.csrfToken
      $Input.submit.general.value("Registrieren")
    $Form.end()
  </div>
  #parse("sidebar.vm")
</div>
#parse("footer.vm")
