#parse("header.vm")
<div id="wrapper">
  <div id="main">

    #if($Validation)
      #if($Input.error("validCsrfToken"))
        <p>csrfToken not valid</p>
      #end
      #if($Input.error("hasUsername"))
        <p>has no Username</p>
      #end
      #if($Input.error("hasFirstname"))
        <p>has no Firstname</p>
      #end
      #if($Input.error("hasLastname"))
        <p>has no Lastname</p>
      #end
      #if($Input.error("validEmail"))
        <p>Email not valid</p>
      #end
      #if($Input.error("passwordMinLength"))
        <p>password needs at least 5 characters</p>
      #end
      #if($Input.error("passwordsMatch"))
        <p>passwords dont Match</p>
      #end
      #if($Input.error("usernameAvailable"))
        <p>username unavailable</p>
      #end
      #if($Input.error("emailAvailable"))
        <p>email unavailable</p>
      #end
    #end
    $Form.begin("POST", ${Router.linkTo("registrationPost")})
      <h2>Registrieren</h2>
      $Input.text.name("username").placeholder("Benutzername").prepopulate()
      $Input.password.name("password").placeholder("Passwort")
      $Input.password.name("pwconfirm").placeholder("Passwort bestätigen")
      $Input.text.name("firstname").placeholder("Vorname").prepopulate()
      $Input.text.name("lastname").placeholder("Nachname").prepopulate()
      $Input.text.name("email").placeholder("Email Addresse").prepopulate()
      $Input.csrfToken
      $Input.submit.general.value("Registrieren")
    $Form.end()
  </div>
  #parse("sidebar.vm")
</div>
#parse("footer.vm")
