#parse("header.vm")
<div id="wrapper">
  <div id="main">
    #if($registrationFailed)
      <h2>Registration Failed</h2>
      #if($passwordMismatch)
        <p>passwordMismatch</p>
      #end
      #if($csrfValidationFailed)
        <p>csrfValidationFailed</p>
      #end
      #if($passwordEmpty)
        <p>passwordEmpty</p>
      #end
      #if($usernameExists)
        <p>usernameExists</p>
      #end
      #if($emailExists)
        <p>emailExists</p>
      #end
      #if($emailInvalid)
        <p>emailInvalid</p>
      #end
    #end
    <div id="registration-container">
      <form method="POST" action="${Router.linkTo("registrationPost")}" id="registration">
        <input id="username" type="text" name="username" value="$!username" placeholder="Nutzername">
        <input id="password" type="password" name="password" placeholder="Passwort">
        <input id="pwconfirm" type="password" name="pwconfirm" placeholder="Passwort best&auml;tigen">
        <input id="firstname" type="text" name="firstname" value="$!firstname" placeholder="Vorname">
        <input id="lastname" type="text" name="lastname" value="$!lastname" placeholder="Nachname">
        <input id="email" type="text" name="email" value="$!email" placeholder="E-Mail Adresse">
        $Resources.csrfToken()
        <button type="submit" class="general" id="registration">Registrieren</button>
      </form>
    </div>
  </div>
  #parse("sidebar.vm")
</div>
#parse("footer.vm")
