#parse("header.vm")
<div id="wrapper">
  <div id="main">
    $Form.begin("POST", $Router.linkTo("resetPasswordPost", $resetToken))
      <h2>Passwort zurücksetzen</h2>
      $Input.password.name("password").placeholder("Passwort")
      $Input.password.name("pwconfirm").placeholder("Passwort bestätigen")
      $Input.csrfToken
      $Input.submit.general.value("Zurücksetzen")
    $Form.end()
  </div>
  #parse("sidebar.vm")
</div>
#parse("footer.vm")
